* {}

.logo {
    color: white;
}

body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-height: 40px;
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #fff;
    /* font-weight: bold; */
}

section {
    padding: 20px;
}

.borde {
    /* border-bottom: 10px solid red; */
}

.borde:hover {
    border-bottom: 2px solid red;
    color: blue;
    box-sizing: border-box;

}

.section1 {
    display: flex;
    padding: 80px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
    background-color: #0b0e16;
}

.main_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.main_div1 {
    color: var(--Color-Platte-White-White, #FDFDFD);

    /* H2 */
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main_div2 {
    color: var(--Color-Platte-White-Lite, #A6A6A6);
    align-self: stretch;
    /* H3 */
    font-family: Poppins, sans-serif;
    /* font-size: 1px !important; */
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    /* background-color: red !important; */
}

.img-div {
    /* width: 1200px;
height: 459px; */
    border-radius: 8px;
    background: var(--Color-Platte-Black-new-background, #0C0C0C);
}

.img_height {
    width: 100%;
    height: 446px;
}

.section2 {
    display: flex;
    padding: 40px 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    background-color: #0b0e16;

}

.research_main_div1 {
    align-self: stretch;
    color: var(--Color-Platte-Red-Normal, #F66);

    /* H1 */
    font-family: Poppins, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    color: var(--Color-Platte-Blue-Dark, #0065FF);

}

.research_main_div2 {
    align-self: stretch;
    color: var(--Color-Platte-White-Lite, #A6A6A6);

    /* H3 */
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section3 {
    display: flex;
    padding: 40px 120px;
    align-items: center;
    gap: 110px;
    align-self: stretch;
    background-color: #0b0e16;

}

.Discovery_main_div {
    width: 1200px;
    height: auto 480px;
}




.Discovery_main_div1 {
    padding: 104px 0px;
    height: 400px;
    width: 600px;
    margin-bottom: 12px;
    align-self: stretch;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    float: left;
    color: var(--Color-Platte-White-Lite, #A6A6A6);
    font-style: normal;
    font-weight: 200;
    line-height: normal;


}

.text1 {
    align-self: stretch;
    color: var(--Color-Platte-White-Lite, #A6A6A6);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Discovery_main_div2 {
    align-self: stretch;
    float: left;

    height: 400px;
    width: 100px;
}

.Discovery_main_div3 {
    width: 400px;
    float: left;

    align-self: stretch;
    /* background-image: url('path/to/your/image.jpg'); */
    background-size: cover cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 400px;
    object-fit: contain;
    /* flex-shrink: 0; */
    /* background-color: #0b0e16; */
    /* background: url(../images/services/New_Discovery_2-removebg-preview-Photoroom.png-Photoroom.png), #0b0e16 10% / cover no-repeat; */
}

/* {} */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}